.sidebar {
	margin-left: 5.8rem;
	-ms-flex-preferred-size: 30rem;
	    flex-basis: 30rem;
	-ms-flex-negative: 0;
	    flex-shrink: 0;
	@include media('<desktop'){
		-ms-flex-preferred-size: 24rem;
		    flex-basis: 24rem;
		margin-left: 3rem;
	}
	@include media('<tablet'){
		-webkit-box-ordinal-group: 0;
		    -ms-flex-order: -1;
		        order: -1;
		margin-bottom: 4.8rem;
		margin-left: 0;
		-ms-flex-preferred-size: 15rem;
		    flex-basis: 15rem;
	}
	@include media('<600px'){
		-ms-flex-preferred-size: auto;
		    flex-basis: auto;
	}
	.sidebar__group--contact {
    text-align: center!important;
		.sidebar__info > * {
			margin: auto
		}

		.sidebar__info {
			border: 1px solid rgba(0,9,23,0.04);
			border-radius: 4px;
			color: #0F4392;
			font-weight: 600;
			line-height: 20px;
			background-color: #EEF5FF;
			-webkit-box-shadow: 0 1px 1px 0 rgba(174,196,228,0.26);
			        box-shadow: 0 1px 1px 0 rgba(174,196,228,0.26);
		}
	}
	&__title {
		margin-top: 0;
		margin-bottom: 2.8rem;
		font-weight: normal;
		font-size: 1.7rem;
		font-family: $sf--bold;
		color: $blue;
		text-transform: uppercase;
		&:only-child {
			display: none;
		}
	}
	&__subtitle {
		text-transform: uppercase;
		font-size: 1rem;
		line-height: 1.1rem;
		margin-top: 0;
		margin-bottom: 1.4rem;
	}
	&__group {
		margin-top: 6.2rem;
		.contact {
			&:first-child {
				margin-top: 0;
			}
		}
	}
	&__info {
		margin-top: 1.6rem;
		font-size: 1.4rem;
		font-family: $sf-text;
		background-color: $black-blue;
		color: $white;
		padding: 1.4rem 2.4rem 1.4rem 2.4rem;
		&.js-trigger-newsletter {
			cursor: pointer;
		}
		img {
			width: 16px;
			height: 16px;
	    margin: 0 2px -2px 0;
		}
		@extend %flex-center-y;
		border-radius: $standard-radius;
		> a {
			-webkit-transition: 0.2s color ease-out;
			transition: 0.2s color ease-out;
		}
		span {
			margin-right: 1rem;

		}

	}
	.sidebar__group {
		.permanence {
			.permanence__wrapper {
				width: 100%!important;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-pack: justify;
				    -ms-flex-pack: justify;
				        justify-content: space-between;
			}

			span.permanence__hours {
				top: 24px!important;
				color:  #0068FF;
			}

			.col-d {
				display:-webkit-box;
				display:-ms-flexbox;
				display:flex;
				margin: auto 0;
			}

			h5.permanence__location {
				margin-top: .2em;
				font-size: 18px;
				font-weight: bold;
				line-height: 16px;
				text-shadow: 0 1px 2px 0 rgba(0,0,0,0.09);
			}

			p.permanence__nextDate {
				color: #000917;
				font-family: "San Francisco Text";
				font-size: 12px;
				font-weight: 600;
				line-height: 16px;
			}
		}
	}
	#ctf {
		margin-bottom:  16px;
		&.ctf-super-narrow .ctf-author-avatar, &.ctf-super-narrow .ctf-author-avatar img {
	    width:  16px!important;
	    height:  16px;
		}
		&.ctf-super-narrow .ctf-author-box {
	    min-height:  0;
	    margin-bottom: 7px;
		}
		&.ctf-super-narrow .ctf-more span {
	    margin:  0;
	    font-family:  "sf-bold";
		}
		p.ctf-tweet-text, #ctf p.ctf-media-link {
	    line-height:  18px;
		}
		.ctf-author-name, #ctf .ctf-author-screenname, #ctf .ctf-verified, #ctf .ctf-tweet-meta {
	    margin:  0;
	    margin-left:  -12px;
		}
		.ctf-item {
	    padding:  24px;
	    position:  relative;
	    font-family: "sf-text-regular";
		}
		.fa {
    	display:  none;
		}
		.ctf-tweet-meta {
	    position:  absolute;
	    bottom:  14px;
	    right:  24px;
		}
		#ctf-more {
			display:none;
		}
	}
	.f_w {
    text-align:  center;
		#twitter_activity {
			background: none!important;
			font-size: 12px;
			line-height: 14px!important;
			color: #0F4392;
			max-width: 241px;
			margin: auto!important;
			border: 1px solid #0F4392!important;
			border-radius: 17px!important;
			padding: 10px 24px!important;
			font-family: "sf-bold";
			max-width: -webkit-fit-content;
			max-width: -moz-fit-content;
			max-width: fit-content;
		}
	}
}
