// Font variables
$akkurat: "akkurat";
$akkurat--bold: "akkurat-bold";
$akkurat--light: "akkurat-light";
$graphik: "graphik";
$graphik--bold: "graphik-bold";
$graphik--medium: "graphik-medium";

$sf: "sf-regular";
$sf--italic: "sf-italic";
$sf--bold: "sf-bold";
$sf--semiBold: "sf-semiBold";
$sf--uiBold: "sf-uiBold";

$font--main: $sf;
$material: 'Material Icons';