// Font variables
$akkurat: "akkurat";
$akkurat--bold: "akkurat-bold";
$akkurat--light: "akkurat-light";
$graphik: "graphik";
$graphik--bold: "graphik-bold";
$graphik--semiBold: "graphik-semibold";
$graphik--medium: "graphik-medium";
$font--main: $graphik;