// Container
$container--maxSize: 76.8rem;
$container--maxSizeMq: 768px;

// Standard dimensions
$standard-radius: 0.4rem;
$box-radius: 0.2rem;
$standard-box-border: 0 0 0 1px $grey--lighter;
$magic-number: 1.6rem;

// Dropdown
$dropdown--xPadding: 2.5rem;
$dropdown--yPadding: 1rem;

// Cross
$cross--size: 1.6rem;

// Modal
$modal--paddings: 4rem 3.6rem;

// Filters
$filters--maxHeight: 3.2rem;