// Key colors
$white: white;
$original-black: black;
$red: #EB5079;
$yellow: #f6a623;
$gold: #e3c442;
$green: #7ed321;
$red--dark: #d0011b;
$red--flash: #ff4375;
$black: #222222;
$black-blue: #1F2532;
$blue--light: #01B2FB;
$blue: #4353ff;
$blue--dark: #6A85B6;
$blue--darker:#3542d1;
$grey--lightest: #f6f6f6;
$grey--lighter: #F2F2F2;
$grey--light: #C8C8C8;
$grey--box: #B2B2B2;
$grey--boxLink: #F7F8FA;
$grey--datebook: #979797;
$grey--about: #F9F9F9;
$grey--aboutLabel: #8F8F8F;
$grey--separator: #DEDEDE;
$article--border: #E5E5E5;
$grey: #A3A3A3;


$transparent-black: transparentize($black,0.9);

// Symbols
$bg-body: #F7F8FA;
