.article {
	.source-presse, .youtube {
		display: none;

	}
	border: 1px solid $article--border;
	border-radius: $standard-radius;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	position: relative;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
	h2 {
		font-size: 24px;
		font-weight: bold;
	}
	&:hover {

		-webkit-box-shadow: 0 10px 30px -5px rgba(0, 9, 23, .2);

		        box-shadow: 0 10px 30px -5px rgba(0, 9, 23, .2);
		-webkit-transition: all 150ms ease;
		transition: all 150ms ease;
	}
	&.is-video-article {
		.article__wrapper {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			    -ms-flex-direction: row!important;
			        flex-direction: row!important;
			-ms-flex-wrap: wrap;
			    flex-wrap: wrap;
			.article__buttonContainer {
				.source-presse {
					display: inline;
					width: 100%;
					color: #FFFFFF;
					font-size: 12px;
					text-transform: uppercase;
					line-height: 24px;
					text-shadow: 0 1px 1px 0 rgba(0,9,23,0.16);
					text-align:end;
					-webkit-box-flex: 1;
					    -ms-flex: 1;
					        flex: 1;
					-webkit-box-orient: vertical;
					-webkit-box-direction: reverse;
					    -ms-flex-direction: column-reverse;
					        flex-direction: column-reverse;
					margin-top: 10px;
				}
				.src-youtube {
					img {
						width: 17px;
						height: auto;
						margin: 0 10px -2px 0;
					}
				}
				.youtube {
					display: inline;
				}
				-webkit-box-flex: 1;
				    -ms-flex: 1;
				        flex: 1;
				-webkit-box-pack: end;
				    -ms-flex-pack: end;
				        justify-content: flex-end;
			}
			:nth-child(1){
				-webkit-box-ordinal-group: 5;
				    -ms-flex-order: 4;
				        order: 4;
			}
			:nth-child(2){
				-webkit-box-ordinal-group: 2;
				    -ms-flex-order: 1;
				        order: 1;
				width: 100%;
			}
			:nth-child(3){
				-webkit-box-ordinal-group: 3;
				    -ms-flex-order: 2;
				        order: 2;
			}
			:nth-child(4){
				-webkit-box-ordinal-group: 4;
				    -ms-flex-order: 3;
				        order: 3;
			}
		}
		&:hover{
			-webkit-box-shadow: 0 10px 30px -5px rgba(238, 173, 62, .2)!important;
			        box-shadow: 0 10px 30px -5px rgba(238, 173, 62, .2)!important;
			-webkit-transition: all 150ms ease;
			transition: all 150ms ease;
		}
	}
	&.category-presse {
		.article__wrapper {
			display: -webkit-box!important;
			display: -ms-flexbox!important;
			display: flex!important;
			-webkit-box-orient: horizontal!important;
			-webkit-box-direction: normal!important;
			    -ms-flex-direction: row!important;
			        flex-direction: row!important;
			-ms-flex-wrap: wrap;
			    flex-wrap: wrap;
			.article__buttonContainer {
				.source-presse {
					img {
						width: 17px;
						height: auto;
				    margin: 0 10px -2px 0;
					}
					display: inline;
					width: 100%;
					color: #FFFFFF;
					font-size: 12px;
					text-transform: uppercase;
					line-height: 24px;
					text-shadow: 0 1px 1px 0 rgba(0,9,23,0.16);
					text-align:end;
					-webkit-box-flex: 1;
					    -ms-flex: 1;
					        flex: 1;
					-webkit-box-orient: vertical;
					-webkit-box-direction: reverse;
					    -ms-flex-direction: column-reverse;
					        flex-direction: column-reverse;
					margin-top: 10px;
				}
				-webkit-box-flex: 1;
				    -ms-flex: 1;
				        flex: 1;
				-webkit-box-pack: end;
				    -ms-flex-pack: end;
				        justify-content: flex-end;
			}
			:nth-child(1){
				-webkit-box-ordinal-group: 5;
				    -ms-flex-order: 4;
				        order: 4;

			}
			:nth-child(2){
				-webkit-box-ordinal-group: 2;
				    -ms-flex-order: 1;
				        order: 1;
				width: 100%;
			}
			:nth-child(3){
				-webkit-box-ordinal-group: 3;
				    -ms-flex-order: 2;
				        order: 2;
			}
			:nth-child(4){
				-webkit-box-ordinal-group: 4;
				    -ms-flex-order: 3;
				        order: 3;
			}
			&:hover {
				-webkit-box-shadow: 0 10px 30px -5px rgba(15, 67, 146, .2)!important;
				        box-shadow: 0 10px 30px -5px rgba(15, 67, 146, .2)!important;
				-webkit-transition: all 150ms ease;
				transition: all 150ms ease;
			}
		}
	}


	&:not(.is-single):not(.is-url-article):not(.is-first):not(.is-video-article) {
		&:before {
			content: '';
			position: absolute;
			left: 0;
			border-radius: $standard-radius;
			height: 100%;
			width: 100%;
			z-index: 1;
			pointer-events: none;
			background: linear-gradient(85deg, $white 30%, $white 40%, transparentize($white, 0.3) 80%);
		}
		.article {
			&__wrapper > * {
				text-shadow: 0 1px 1px rgba(0,9,23,0.08);
			}
			&__title,
			&__bottom {
				font-family: $sf--bold;
			}
		}
		.button {
    	border-color: rgba(15, 66, 145,.5);
		}
	}
	&.is-hidden {
		display: none;
	}
	&.is-single {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: inherit;
		    -ms-flex-pack: inherit;
		        justify-content: inherit;
		-webkit-box-shadow: none;
		        box-shadow: none;
		border: none;
		.article__container {
			padding: 0;
			@include container(true,62rem);
			@include media('<tablet') {
				padding: 4rem;
			}
			@include media('<phone-lg') {
				padding: 3rem;
			}
		}
		.article__buttonContainer {
			-webkit-box-align: center;
			    -ms-flex-align: center;
			        align-items: center;
			&:not(:first-child) {
				margin-left: 1.6rem;
			}
		}
		.article__image {
			width: 100%;
			min-height: 45rem;
			-ms-flex-preferred-size: auto;
			    flex-basis: auto;
			max-width: none;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			position: relative;
			@include media('<phone-lg') {
				min-height: 30rem;
			}
			&:after {
				content: '';
				display: block;
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 100%;
				pointer-events: none;
				background: -webkit-gradient(linear, left top, left bottom, from(transparentize($bg-body,0.9)), color-stop(35.68%, transparentize($bg-body,0.4)), to($bg-body));
				background: linear-gradient(180deg, transparentize($bg-body,0.9) 0%, transparentize($bg-body,0.4) 35.68%, $bg-body 100%);
			}
		}
		.article__title {
			font-size: 4rem;
			line-height: 40px;
			margin-top: 3.2rem;
			margin-bottom: 3rem;
			position: relative;
			font-family: $sf--bold;
			z-index: $layer--1;
			padding-right: 2.5rem;
			@include media('<tablet') {
				font-size: 2.8rem;
			}
			@include media('<phone-lg') {
				font-size: 2.6rem;
			}
		}
		img {
			margin: 0 2rem;
		}
		.article__content {
			img.size-large.aligncenter {
				height:  auto;
				margin:  0;
			}
			.button.button-border-caution {
				display: none;
			}
			margin-top: 3.4rem;
			a {
				@include link-color($black);
			}
			p {
				font-size: 1.6rem;
				line-height: 2.2rem;
				&:first-child {
					margin-top: 0;
				}
				@include media('<phone-lg') {
					font-size: 1.5rem;
				}
			}
			h1 {
				font-size: 3.2rem;
				left: 4rem;
				font-family: $sf--bold;
			}
			h2 {
				font-size: 2.2rem;
				line-height: 3.6rem;
				font-family: $sf--bold;
			}
			h3 {
				font-size: 1.6rem;
				line-height: 2.6rem;
				font-family: $sf--semiBold;
			}
		}
		.article__bottom {
			margin-bottom: 2.4rem;
		}
		.article__additionnal {
			margin-left: 1.6rem;
		}
	}
	&.has-post-thumbnail {
		&.is-single {
			.article__container {
				padding-top: 0;
			}
			.article__head {
				-webkit-box-pack: start;
				    -ms-flex-pack: start;
				        justify-content: flex-start;
				-ms-flex-wrap: wrap;
				    flex-wrap: wrap;
				.article__buttonContainer .button {
					margin-top: 0 !important;
				}
			}
			.article__title {
				margin-top: 0.7rem;
			}
		}
		&:not(.is-single) {
			@include media('<tablet-xs') {
				> a {
					-webkit-box-orient: vertical;
					-webkit-box-direction: normal;
					    -ms-flex-direction: column;
					        flex-direction: column;
				}
				.article__image {
					max-width: none;
					-ms-flex-preferred-size: 20rem;
					    flex-basis: 20rem;
					width: 100%;
					-webkit-box-ordinal-group:0;
					    -ms-flex-order:-1;
					        order:-1;
				}
			}
		}
	}
	&.is-url-article,&.is-video-article {
		background-color: $color--main;
		border: none;
		.button {
			background-color: transparent;
			border-color: $white;
		}
		.article__title,.article__bottom,.button {
			color: $white;
		}
		.article_image {
			display: none;
		}
		.article__bottom {
			margin-top: 1.6rem;
		}
		.article__extract {
			margin-bottom: 1.6rem;
			color: $white;
			font-family: $font--text;
		}
		.article__title {
			margin-bottom: 1.6rem;
			font-family: $sf--bold;
		}
		.article__bg {
			opacity: .2;
		}
	}
	&.is-video-article {
		background-color: $yellow;
	}
	&.is-first:not(.is-url-article):not(.is-video-article ):not(.is-single) {
		-webkit-box-shadow: 0 5px 15px -2px rgba(15,67,146,0.4);
		        box-shadow: 0 5px 15px -2px rgba(15,67,146,0.4);
		background-color: $color--main;
		&:hover {
			-webkit-box-shadow: 0 60px 120px -10px rgba(15, 67, 146, .2);
			        box-shadow: 0 60px 120px -10px rgba(15, 67, 146, .2);
			-webkit-transform: scale(1.01);
			        transform: scale(1.01);
			-webkit-transition: all 200ms ease;
			transition: all 200ms ease;
			.article__wrapper {
		    -webkit-transform: scale(0.99);
		            transform: scale(0.99);
		    -webkit-transition: -webkit-transform 200ms;
		    transition: -webkit-transform 200ms;
		    transition: transform 200ms;
		    transition: transform 200ms, -webkit-transform 200ms;
			}
			.article__bg {
				background-size: auto 106%;
				-webkit-transition: all 0.25s ease;
		    opacity: .5;
				transition: all 0.25s ease;
			}
		}
		.article__bg {
			background-size: auto 110%;
			-webkit-transition: all 0.25s ease;
			transition: all 0.25s ease;
		}

		.article__buttonContainer {
			.button {
				font-size: 1.4rem;
				font-family: $sf--semiBold;
				@extend .button--semiBlue;
			}
		}
		@media (min-width: 400px){
			.article__bottom {
				position: absolute;
				right: 40px!important;
				margin-top: 12px!important;
			}
		}
		.article__wrapper {
			padding-bottom: 70px;
			-webkit-transform: scale(1);
			        transform: scale(1);
			-webkit-transition: -webkit-transform 200ms;
			transition: -webkit-transform 200ms;
			transition: transform 200ms;
			transition: transform 200ms, -webkit-transform 200ms;
			* {
		    text-shadow: 0 1px 1px rgba(0,9,23,0.5);
			}
		}
		span.button {
			background: none!important;
			border-color: rgba(255, 255, 255, 0.5) !important;
			color: #fff;
			-webkit-box-shadow: 0 0 1px #FFFFFF;
			        box-shadow: 0 0 1px #FFFFFF;
		}
		.article__more {
			display: none;
		}
		.article__title {
			color: $white;
			font-size: 3.2rem;
			line-height: 4rem;
			font-weight: bold;
			margin-bottom: 0;
			margin-top: 40px;
			font-family: $sf--bold;
		}
		.article__extract {
			font-family: $font--text;
			color: $white;
			margin-bottom: 0;
			margin-top: 45px;
			font-size: 1.6rem;
		}
		.article__bottom {
			color: $white;
			margin-top: 2.6rem;
			font-size: 1.4rem;
		}
	}
	&__bg {
		pointer-events: none;
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		border-radius: $standard-radius;
		@extend %regular-background;
		.is-first & {
			opacity: .2;
		}
	}
	.button {
		text-transform: uppercase;
		&--small {
			padding: 0.3rem 0.8rem;
		}
	}
	> a {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		position: relative;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		width: 100%;
	}
	p {
		line-height: 2.6rem;
		strong {
			font-weight: normal;
			font-family: $sf--semiBold;
		}
	}
	&__wrapper {
		padding: 4rem;
		padding-top: 3.2rem;
		z-index: $layer--1;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		width: 100%;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		@include media('<tablet-xs') {
			padding: 2rem;
			padding-top: 2.5rem;
		}
	}
	&__title {
		line-height: 3.2rem;
		font-size: 2.4rem;
		margin-top: 1.6rem;
		margin-bottom: 0.8rem;
		font-weight: normal;
		@include media('<tablet') {
			font-size: 2.2rem;
		}
		@include media('<phone-lg') {
			font-size: 2rem;
		}
	}
	&__image {
		@extend %regular-background;
		-ms-flex-preferred-size: 29rem;
		    flex-basis: 29rem;
		min-width: 29rem;
		display: none;
		.article.has-post-thumbnail:not(.is-url-article):not(.is-single) & {
			display: block;
		}
		img {
			@extend %visually-hidden;
		}
	}
	&__bottom,&__additionnal {
		font-size: 1.2rem;
		font-family: $font--main;
		text-transform: uppercase;
	}
	&__head {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		position: relative;
		z-index: $layer--1;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	&__buttonContainer {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		.button {
			font-size: 1.2rem;
			margin-top: 0.8rem;
			&:not(:last-child) {
				margin-right: 0.8rem;
			}
		}
	}
	&__more {
		font-size: 1.6rem;
		color: $white;
		font-family: $sf--semiBold;
		margin-top: 2.6rem;
		margin-left: auto;
	}
	&__extract {
		margin-top: 0;
		font-size: 1.4rem;
		line-height: 2.4rem;
		margin-bottom: 3.1rem;
		font-family: $font--text;
	}
	&__bottom {
		text-transform: uppercase;
		font-size: 1.2rem;
		font-family: $sf--semiBold;
	}
	&__titleContainer {
		@include container(true, 62rem);
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: flex-start;
		margin-top: auto;
	}
	&__group {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	&__comments {
		/*margin-top: 6.5rem;*/
	}
	#wpusb-container-default {
		margin-top: 40px;
  	margin-bottom: 40px;
		&:before {
			content: "Partager";
			font-size: 14px;
			margin-right: 10px;
			color: grey;
		}
		.wpusb-item > a {
			border: none!important;
			-webkit-box-shadow: none!important;
			        box-shadow: none!important;
		}
	}

}
.is-video-article span.source-presse.src-presse,
.category-presse span.source-presse.src-youtube {
	display: none!important;
}
