.headerProfile {
	@include container(true);
	display: flex;
	justify-content: flex-start;
	position: relative;
	z-index: $layer--2;
	&__avatar {
        $size: 9.6rem;
        width: $size;
        height: $size;
        border: 2px solid $white;
        margin-right: 3.2rem;
        background-color: $grey;
        border-radius: 100%;
        cursor: pointer;
        @extend %regular-background;
    }
    &__container {
        display: flex;
        flex-wrap: wrap;
		flex-direction: column;
		@include media('<large'){
			padding-left: 0;
		}
    }
    &__name {
        font-size: 4.8rem;
        color: $white;
        margin-top: 1rem;
        margin-bottom: 1.3rem;
        font-family: $sf--semiBold;
        font-weight: normal;
        line-height: 5.8rem;
		text-shadow: 0 0.2rem 0.3rem transparentize($original-black,0.5);
		@include media('<phone-lg') {
			font-size: 4.5rem;
		}
    }
    &__description {
        font-size: 2.2rem;
		line-height: 2.9rem;
        font-weight: normal;
        color: $white;
		@include media('<phone-lg') {
			font-size: 1.5rem;
		}
    }
    &__socials {
        margin-left: 1.6rem;
		@include media('<phone-lg') {
			flex-direction: column;
			margin-left: 0;
			margin-top: 1.6rem;
		}
    }
    &__group {
        display: flex;
        flex-wrap: wrap;
		@include media('<phone-lg') {
			flex-direction: column;
		}
    }
}

.social {
	margin-right: 0.8rem;
	> svg, path {
		fill: $white;
	}
	> svg {
		$size: 1.6rem;
		width: $size;
		height: $size;
	}
}