.informations {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
    flex-wrap: wrap;
	position: relative;
	z-index: $layer--2;
	@include container(true);
	@include media('<large'){
		margin-bottom: 4rem;
		align-items: flex-start;
		flex-direction: column;
	}
    &__title {
        color: $white;
        font-size: 1.6rem;
        text-transform: uppercase;
        margin-top: 0;
        font-family: $sf--semiBold;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		> * {
			margin-top: 0.8rem;
		}
    }
	&__hours {
		@include box-hours($white,$white);
		margin-left: 1.6rem;
		padding: 0.8rem;
		&--small {
			font-size: 1.4rem;
		}
	}
	&__wrapper {
		@include media('<large'){
			margin-top: 1.6rem;
		}
	}
	&__logo {
		max-width: 25rem;
		max-height: 15rem;
		@include media('<large'){
			margin-top: 3rem;
		}
	}
}