.informations {
    display: flex;
    flex-wrap: wrap;
	position: relative;
	z-index: $layer--2;
	@include container(true);
	@include media('<large'){
		//flex-direction: column;
		margin-bottom: 4rem;
	}
    &__title {
        color: $white;
        font-size: 1.6rem;
        text-transform: uppercase;
        margin-top: 0;
        font-family: $sf--semiBold;
    }
	&__hours {
		@include box-hours($white,$white);
		margin-left: 1.6rem;
	}
}