.dropdown {
    $arrow--size: 0.85rem;
    $shadow--color: transparentize($original-black,0.92);
    padding: 0 $dropdown--xPadding;
    // Temporary. See Filters js class.
    padding-left: 0;
    max-height: $filters--maxHeight;
    border-radius: $box-radius;
    cursor: pointer;
    @extend %flex-center;
    @include media('<tablet-xs') {
        margin: 1rem 0;
    }
    @include media('>phone-lg') {
        position: relative;
    }
    &.is-open {
        .dropdown__wrapper,.dropdown__arrow {
            display: block;
        }
        .dropdown__arrow {
            @include media('<phone-lg') {
                display: none;
            }
        }
        .dropdown__wrapper {
            @include media('<phone-lg') {
                position: fixed;
            }
        }
    }
    &__arrow {
        position: absolute;
        top: calc(100% + #{$arrow--size + 0.3rem});
        left: 5rem;
        border: $arrow--size solid transparent;
        border-bottom-color: $white;
        transform: translate3d(0,-100%,0);
        z-index: $layer--5;
        display: none;
        box-shadow: 0 0 1px 0 $shadow--color;
    }
    &__background {
        display: none;
        @extend %modal-background;
        @include media('<phone-lg') {
            .dropdown.is-open & {
                display: block;
            }
        }
    }
    &__wrapper {
        display: none;
        position: absolute;
        width: 30rem;
		height: 20rem;
        background-color: $white;
        margin: 0;
        top: calc(100% + #{$arrow--size + 0.3rem});
        left: 0;
        padding: 0 0 1.6rem 2.5rem;
        box-shadow: 0 0 1px 0 $shadow--color, 0 0.5rem 2.4rem 0 $shadow--color;
        border-radius: 0.2rem;
        overflow: hidden;
        z-index: $layer--2;
        @include media('<phone-lg') {
            padding-top: 1.9rem;
            height: 75%;
            width: 90%;
            left: 50%;
            top: 50%;
            transform: translate3d(-50%,-50%,0);
            .checkbox {
                $size: 1.1rem;
                width: $size;
                height: $size;
            }
        }
        .cross {
            display: none;
            @include media('<phone-lg') {
                display: block;
            }
        }
    }
    &__options {
        margin: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        padding-top: 2.5rem;
        padding-right: 2.5rem;
        overflow-y: scroll;
        @include media('<phone-lg') {
            background-color: $white;
        }
    }
    &__select {
        width: 100%;
        height: 100%;
        outline: none;
    }
    &__selectContainer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // The little arrow isnt part of the span element so I need an element making 100% of dropdown label
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top:0;
            width: 100%;
            height: 100%;
            z-index: $layer--1;
            background: $bg-body;
            pointer-events: none;
        }
    }
    &__option {
        font-size: 1.4rem;
        min-height: 1.6rem;
        padding-bottom: 1.6rem;
        color: $black;
        @extend %flex-center-y;
        span {
            @extend %flex-center-y;
            margin-left: 1.6rem;
        }
        &.is-active {
            font-family: $font--main;
        }
    }
    &__label {
        @extend %flex-center-y;
        user-select: none;
        font-size: 1.4rem;
        &::after {
            $size: 0.4rem;
            content: '';
            border: $size solid transparent;
            border-top-color: $black;
            transform: translate3d(0,$size/2,0);
            margin-left: 0.5rem;
            z-index: $layer--1;
        }
        .has-themes-enabled & {
            font-family: $font--main;
            span {
                &::before {
                    opacity: 1;
                    pointer-events: auto;
                }
            }
        }
        span {
            @extend %filter-border;
            &::before {
                opacity: 1;
                margin-top: 0.5rem;
                pointer-events: none;
            }
        }

    }
    // Internal mixin.
    @mixin label-color($color) {
        .dropdown__label {
            &::after {
                border-top-color: $color;
            }
        }
    }
    &--grey {
        @include dropdown-color($grey--box);
        @include label-color($grey--box);
    }
    &--blue {
        @include dropdown-color($blue);
        @include label-color($blue);
    }
    &--yellow {
        @include dropdown-color($yellow);
        @include label-color($yellow);
    }
    &--red {
        @include dropdown-color($red--dark);
        @include label-color($red--dark);
    }
    &--green {
        @include dropdown-color($green);
        @include label-color($green);
    }
}
