.contact {
	&:not(:last-child) {
		padding-bottom: 1.7rem;
		.contact__group {
			&::after {
				content: '';
				display: block;
				background-color: $grey--separator;
				height: 1px;
				margin-top: 1.7rem;
			}
		}
	}
	&__role {
		margin-bottom: 1rem;
		margin-top: 0;
		color: $grey;
		font-family: $font--main;
	}
	&__title {
		font-size: 1.4rem;
		font-family: $graphik--semiBold;
		margin-top: 0;
		color: $blue;
	}
	&__group {
		display: flex;
		flex-direction: column;
		margin-top: 0.8rem;
	}
	&__info {
		font-size: 1.2rem;
		line-height: 2.3rem;
	}
}