.ariane-thread {
    &__separator {

    }
    a {
        font-size: 1.2rem;
        padding: 0.6rem 0.8rem;
        font-family: $graphik--semiBold;
        border-radius: $box-radius;
        background-color: transparentize($white,0.3);
    }
}
