.header {
    height: 44.3rem;
    background-color: $blue;
    padding-top: 8.9rem;
	font-size: 1.4rem;
	&__wrapper {
		@extend %container;
		margin-top: auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
	}
    &__tabs {
        margin-top: auto;
        display: flex;
    }
    &__tab {
        font-size: 1.6rem;
        color: $white;
        position: relative;
        margin-right: 5.5rem;
        padding-bottom: 2.4rem;
        text-transform: uppercase;
        cursor: pointer;
        &::after {
            content: '';
            position: absolute;
            top: 100%;
            background-color: $red--flash;
            height: 0.4rem;
            width: 100%;
            transform: translate3d(0,-50%,0);
            display: none;
        }
        &.is-active {
            font-family: $graphik--semiBold;
            &::after {
                display: block;
            }
        }
    }
    .informations {
        // On the model, 64px but I need the next component to have 40px margin-top. Can't play with nth-child.
        margin-top: 2.4rem;
    }
}
