.header {
    height: 44.3rem;
    background-color: $black-blue;
    padding-top: 8.9rem;
	font-size: 1.4rem;
	@extend %regular-background;
	@include media('<large'){
		height: auto;
	}
	@include media('<tablet-xs'){
		padding-top: 4rem;
	}
	&__wrapper {
		@extend %container;
		margin-top: auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
	}
    &__tabs,&__menu {
        margin-top: auto;
        display: flex;
    }
	&__menu {
		@include media('<large'){
			flex-direction: column;
		}
	}
	&__menu {
		margin-bottom: 0;
	}
    &__tab,.menu-item {
        font-size: 1.6rem;
        color: $white;
        position: relative;
        margin-right: 5.5rem;
        padding-bottom: 2.4rem;
        text-transform: uppercase;
        cursor: pointer;
		@extend %flex-center-y;
        &::before {
            content: '';
            position: absolute;
            top: 100%;
            background-color: $red--flash;
            height: 0.4rem;
            width: 100%;
            transform: translate3d(0,-50%,0);
            display: none;
			@include media('<large'){
				position: static;
				width: 2rem;
				margin-right: 1.5rem;
			}
        }
        &.is-active,&.current_page_item {
            font-family: $graphik--semiBold;
            &::before {
                display: block;
            }
        }
    }
    .informations {
        // On the model, 64px but I need the next component to have 40px margin-top. Can't play with nth-child.
        margin-top: 2.4rem;
    }
}
