@mixin container($size: $container--maxSize) {
    max-width: $size;
    margin-left: auto;
    margin-right: auto;
    @include media('>desktop') {
        max-width: $size + 10rem;
    }
    @include media('>large') {
        max-width: $size + 15rem;
    }
    @include media('>1600px') {
        max-width: $size + 25rem;
    }
    @include media('<798px') {
        padding: 0 2rem;
    }
}

%container {
    @include container;
}
