@mixin container($force: false, $size: $container--maxSize) {
	@include setWidth($size, $force);
    margin-left: auto;
    margin-right: auto;
    @include media('>desktop') {
		@include setWidth($size + 10rem, $force);
	}
    @include media('>large') {
		@include setWidth($size + 15rem, $force);
	}
    @include media('>1600px') {
		@include setWidth($size + 25rem, $force);
	}
    @include media('<798px') {
        padding: 0 2rem;
		width: auto;
    }
}

// Internal mixin.
@mixin setWidth($size,$force) {
	max-width: $size;
	@if $force {
		width: $size;
	}
}

%container {
    @include container;
}
