.modal {
    position: fixed;
    left: 0;
    top: 0;
    z-index: $layer--4;
    width: 100%;
    height: 100vh;
    cursor: pointer;
	pointer-events: none;
	opacity: 0;
    @extend %flex-center;
	transition: opacity 0.35s ease;
	font-size: 1rem;
	@include media('<phone-lg') {
		font-size: 0.95rem;
	}
	&.is-marginless {
		.modal__main,.modal__inner {
			padding: 0;
		}
	}
	&.is-open {
		pointer-events: auto;
		opacity: 1;
		transition: opacity 0.15s ease;
		&::before {
			background-color: transparentize($white,0.15);
		}
		.modal__main {
			transform: translate3d(0,0,0);
			opacity: 1;
		}
	}
    &::before {
        content: '';
        @include modal-background($white,0.15);
		background-color: transparent;
		transition: background-color .3s $easeInOutSine;
    }
    &.is-small {
        .modal__main {
            width: 50%;
            max-width: $container--maxSize;
        }
    }
    &__main {
        @extend %container;
        border-radius: $standard-radius;
        box-shadow: 0 0 2.5rem 0.4rem transparentize($black,0.9);
        width: 75vw;
		max-height: 85vh;
		overflow: auto;
        z-index: $layer--5;
        background-color: $white;
        cursor: auto;
		opacity: 0;
		transform: translate3d(0,4rem,0);
		transition: transform .6s $easeInOutQuart, opacity .6s $easeInOutQuart;
		@include media('<tablet-xs') {
			width: 85vw;
		}
	}
	&__background {
		width: 100%;
		height: 21rem;
		border-top-left-radius: $standard-radius;
		border-top-right-radius: $standard-radius;
		@extend %regular-background;
	}
    &__content {
        p:not(.modal__address):not(.modal__nextLabel) {
            margin-top: 0;
            margin-bottom: 3rem;
        }
        h3 {
            font-size: 1.6rem;
            margin-top: 0;
            font-family: $graphik--semiBold;
        }
    }
    &__inner {
        position: relative;
        padding: $modal--paddings;
    }
    &__buttons {
        display: flex;
        flex-wrap: wrap;
        > .button {
            margin-right: 1.6rem;
        }
    }
	&__externalContent {
		padding: 4rem;
	}
	&__location {
		font-size: 3.2em;
		line-height: 3.5rem;
		font-weight: normal;
		margin-top: 0;
		margin-bottom: 1.6rem;
	}
	&__address {
		text-transform: uppercase;
		display: flex;
		flex-direction: column;
		margin-bottom: 2.2rem;
		font-size: 1rem;
		@include media('<phone-lg') {
			font-size: 0.95rem;
		}
		&::after {
			content: '';
			height: 0.2rem;
			width: 2.4rem;
			background-color: $black;
			margin-top: 0.9rem;
			display: block;
		}
		span {
			font-size: 1.6em;
			&:not(:first-child) {
				margin-top: 0.8rem;
			}
		}
	}
	&__nextDate {
		font-size: 1.6em;
		color: $blue--dark;
		font-family: $graphik--semiBold;
	}
	&__list {
		max-height: 30rem;
		overflow: auto;
	}
	&__listItem {
		font-size: 1.6em;
		line-height: 1.8rem;
		&:not(:first-child) {
			margin-top: 0.8rem;
		}
		span {
			font-family: $graphik--semiBold;
		}
	}
	&__nextLabel {
		text-transform: uppercase;
		font-size: 1.6em;
	}
	&__nextDate, &__listItem {
		@include media('<phone-lg') {
			span {
				display: block;
			}
			flex-direction: column;
		}
	}
}