
.wpcf7-form {
  &__title {
    font-size: 2.4rem !important;
    color: $color--main;
    font-family: $sf;
    margin-top: 0 !important;
    margin-bottom: 1.3rem !important;
  }
  &__subtitle {
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: $color--main;
    font-family: $sf;
  }
	label {
		color: #0068FF;
		text-transform: uppercase;
		font-size: 1.4rem;
		margin-right: 1.2rem;
		input {
			padding: 1.2rem 1.6rem;
			border: 1px solid #AEC4E4;
			border-radius: $standard-radius;
			width: 100%;
			font-size: 1.4rem;
			color: $color--main;
			max-height: 4rem;
			transition: border-color .1s ease-out;
			&:focus {
				border-color: $color--main;
				outline: none;
			}
			&[type="number"] {
				-moz-appearance: textfield;
				&::-webkit-outer-spin-button,
				&::-webkit-inner-spin-button {
					-webkit-appearance: none;
					margin: 0;
				}
			}
		}
		textarea {
			padding: 1.2rem 1.6rem;
			border: 1px solid #AEC4E4;
			border-radius: $standard-radius;
			width: 100%;
			font-size: 1.4rem;
			color: $color--main;
			max-height: 10rem;
			transition: border-color .1s ease-out;
			&:focus {
				border-color: $color--main;
				outline: none;
			}
		}
	}
	p:last-of-type{
		display: flex;
		justify-content: center;
		input[type="submit"] {
			padding: 1.2rem 1.6rem;
			font-family: $sf--semiBold;
			font-size: 1.4rem;
			background-color: $blue;
			border: 1px solid $blue;
			color: white;
			border-radius: 4px;
		}
	}
}
